[submodule ".shell/oh-my-zsh"]
	path = .shell/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".shell/liquidprompt"]
	path = .shell/liquidprompt
	url = https://github.com/nojhan/liquidprompt
